# This file contains the latest versions of your dependencies as of September 2025.
appdirs
bcrypt
beautifulsoup4
blinker
certifi
cffi
chardet
click
distlib
dnspython
email-validator
filelock
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
googlemaps
gunicorn
idna
itsdangerous
Jinja2
lxml
MarkupSafe
numpy
Pillow
psycopg2-binary
pycparser
requests
setuptools
six
soupsieve
SQLAlchemy
urllib3
virtualenv
Werkzeug
WTForms
wheel
