<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head%} {% endblock %}
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Property Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          {% if current_user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="/logout">Logout</a>
              </li>
            <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="/account">Account</a>
                </li>
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/register">Become A Member</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/login">Login</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/posts">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts/new">Post Something</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/properties">Properties</a>
          </li>
          {% if current_user.admin %}
          <li class="nav-item">
            <a class="nav-link" href="/property/ratings">Property Ratings (Admin Only)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/binghamton_mls_scraped">Web Scraped Binghamton Properties (Admin Only)</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Contact Niko</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="https://dafnonas-estates-ltd.nycbuildings.us/" target="_blank" rel="noopener noreferrer">Website</a></li>
              <li><a class="dropdown-item" href="https://www.bingstudent.com/" target="_blank" rel="noopener noreferrer">Current Binghamton Locations</a></li>
              <li><a class="dropdown-item" href="https://www.facebook.com/Binghamton.housing/" target="_blank" rel="noopener noreferrer">Facebook</a></li>
            </ul>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>



    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
        {% for category,message in messages %}
          <div class="alert alert-{{ category}}">
            {{ message }}
          </div>
        {% endfor%}
        {% endif %}
      {% endwith%}
    {% block body%} {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>