{% extends 'base.html' %}

{% block head%}
<title>Home</title>
{% endblock %}

{% block body%}
<br>
<h1>Welcome</h1>
<br>
    <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>Welcome To The Property Blog</h1>
          <p>Welcome to the website that welcomes your comments and critiques of apartments you've viewed. We'd like to know your opinion first hand and
            request that you post in <a href="/posts">our posts section</a> to share your color so that we can share feedback and provide transparency to
            owners and renters alike! </p>
          <p>We are currently working on enhancing our interface to record your comments and provide visual aids to easily distinguish the benefits and
            drawbacks of each property as seen from the perspective of the renter.
            <a href="/properties">Have a click! Take a look at some of the properties that we're considering or already have equity in.</a> </p>
          <p>
            <a class="btn btn-primary" href="/properties" role="button">Rate Properties &raquo;</a>
            {% if current_user.email %}
            <h2>Currently logged in as {{current_user.email}}</h2>
            {% else %}
            <h2>Please join and review the locations!</h2>
            {% endif %}
          </p>
        </div>
      </div>
    </div>

{% endblock %}