{% extends 'base.html' %}

{% block head%}
<title>{{ property.title }}</title>
{% endblock %}

{% block body%}
<h1>Write Post</h1>

    <hr>
    {% if not current_user.admin %}
    <h2>Please rate this as if you were living there:</h2>
    {% else %}
    <h2>Please give us your assessment on this investment</h2>
    {% endif %}


    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend class="border-bottom mb-4">{{ legend }}</legend>

            <div class="form-group">
                {{form.location_score.label(class="form-control-label")}}
                {% if form.location_score.errors %}
                    {{form.location_score(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.location_score.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.location_score(class="form-control form-control-lg")}}

                {%endif%}
            </div>

            <div class="form-group">
                {{form.price_score.label(class="form-control-label")}}
                {% if form.price_score.errors %}
                    {{form.price_score(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.price_score.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.price_score(class="form-control form-control-lg")}}

                {%endif%}
            </div>


        </fieldset>
        <br>
        <input type="submit" value="Submit Rating">
    </form>

    <hr>





{% endblock body%}
