{% extends 'base.html' %}

{% block head%}
<title>Property Ratings by Login</title>
{% endblock %}



<h1>Rated Locations by Login</h1>
{% block body%}
    {% if current_user.admin == True %}
        <h1>List Another Property</h1> <a class="btn btn-success" href="/property/new">Click to List</a>
    {% endif %}

    <hr>

    {% for login in averages %}
        <br>
        <h2> {{ login[0] }}</h2>
        <h10>Average Location Score = {{ login[1] }}</h10>
        <h10>Average Value Score = {{ login[2] }}</h10>
        <br>
        <br>

        <hr>
    {% endfor %}


{% endblock %}